[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "nerdtree"]
	path = nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "tsuquyomi"]
	path = tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "typescript-vim"]
	path = typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-javascript"]
	path = vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-jsx"]
	path = vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vimproc.vim"]
	path = vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
